.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.flex-blog {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-justify {
    text-align: justify;
}

input {
    padding: 10px;
    margin: 10px;
}